#signin{
    max-width: 100%;
}

#signin .-sign-box{
    margin: 20px 330px;
    box-shadow: 0px 4px 8px 4px #00000029;
    border-radius: 20px;
    max-width: 100%;
    padding-bottom: 35px;
}
#signin .-sign-content{
    margin: 35px;
}
.-select-img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#signin .-sign-image{
    padding: 35px;
    text-align: center;
}
#signin .-sign-image img{
    border-radius: 100%;
    border: 1px solid #021E42;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.-img-file{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.-img-file img{
    background-size: cover;
    object-fit: cover;
}

.-beforhover{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

#modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
#modal .-modal{
    border: none;
    border: 3px solid green;
}
#modal .-modal-box{
    width: 434px;
    height: 404px;
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

#modal .-modal-box img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    padding: 10px;
    cursor: auto;
}

#modal .-modal-box span{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 20px;
    top: 20px;
    /* border: 1px solid red; */
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#signin .-sign-input{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

#signin .-sign-input h1{
    color: #255FA8;
    font-size: 20px;
    font-weight: 600;
}

#signin .-sign-item hr{
    color: #D0D5DD;
    background: #D9D9D9;
    border: 1px solid #D9D9D9
}

#signin .-sign-item input{
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
}

#signin .-sign-item p{
    font-size: 16px;
    font-weight: 400;
}

#signin hr{
    grid-column: 1/4;
    width: 100%;
}
#signin h1{
    max-width: 100%;
    grid-column: 1/4;
}

#signin .-item7 select{
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding: 10px;
    gap: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
}

#signin .-item8 .-phone-number{
    display: flex;
    gap: 1rem;
    font-size: 18px;
    font-weight: 400;
}
#signin .-item8 .-phone{
    width: 25%;
    gap: 1rem;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #D0D5DD;
}
#signin .-item8 input{
    width: 75%;
    font-size: 18px;
    font-weight: 400;
}

#signin .-item10{
    grid-row: 6/8;
}

#signin .-sign-btn{
    display: flex;
    justify-content: space-between;
}
#signin .-sign-btn button{
    width:160px;
    height: 48px;
    left: 928px;
    border-radius: 33px;
    box-shadow: 0px 4px 8px 4px #00000029;
    margin: 30px;
}
#signin .-sign-btn .-submit{
    background: #5FC198;
    box-shadow: 0px 4px 8px 4px #00000029;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: #fff;
    border: none;
    cursor: pointer;
}
#signin .-sign-btn .-cancel{
    background: #021E42;
    box-shadow: 0px 4px 8px 4px #00000029;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: #fff;
    border: none;
    cursor: pointer;
}

.image-container {
    position: relative;
    overflow: hidden;
    z-index: 99;
    text-align: center;
  }
  
  .image-container.hovered {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    filter: brightness(70%);
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .icon {
    cursor: pointer;
  }