#afterlogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 8px 160px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    /* position: fixed; */
    background-color: #fff;

}afterloginafterlogin

#afterlogin  .-brand{
    align-items: center;
    justify-content: center;
    height: 100%;
}

#afterlogin  .-ham{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    background-color: #fff;
}
#afterlogin  .-ham:hover{
    background-color: #f2f2f2;
}
#afterlogin  a{
    border-radius: 100%;
}
#afterlogin  .-ham img{
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 100%;
}

#afterlogin .-center{
    width: 732px;
    display: grid;
    grid-template-columns: 640px 40px;
    justify-content: end;
    align-items: center;
}

#afterlogin .-home{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#afterlogin .-home h1{
    font-size: 20px;
    color: #2A4B6A;
}

/* #nav .-profile{
   border: 1px solid red;
} */

#afterlogin .-profile-box .-sign{
    width: 140px;
    height: 40px;
    font-weight: 600;
    border: none;
    border-radius: 10rem;
    background-color: #2A4B6A;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#afterlogin .-profile-box .-sign:hover{
    cursor: pointer;
}